/**
* ubimo Color Palette
**/

$ubimo-button-color: #ff7369;
$ubimo-green-color: #44c3b5;

/**
* Color Palette
**/
$main-color: #246fdc;
$secondary-color: #003471;
$third-color: #faf000;
$white-color: #ffffff;
$dark-gray-color: #6b7587;
$error-color: #d13d3b;
$red-color: #FF0000;

/**
* Mixin
**/

@mixin text-truncate($width: 100) {
  width:$width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
* Classes
**/
.view-title{
  color: $ubimo-green-color;
}
