/**
* ubimo Color Palette
**/

$ubimo-button-color: #ff7369;
$ubimo-green-color: #44c3b5;

/**
* Color Palette
**/
$main-color: #246fdc;
$secondary-color: #003471;
$dark-secondary-color: #0d2a4d;
$third-color: #faf000;
$fourth-color: #bacae4;
$fifth-color: #e4effe;
$selected-color: #cfe3ff;
$sixth-color: #3bb7c7;
$white-color: #ffffff;
$off-white-color: #f7f7f7;
$black-color: #000;
$light-gray-color: #e6e6e6;
$mid-gray-color: #b6bec9;
$dark-gray-color: #6b7587;
$error-color: #d13d3b;
$red-color: #FF0000;

/**
* Mixin
**/

@mixin text-truncate($width: 100) {
  width:$width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
* Classes
**/
.view-title{
  color: $ubimo-green-color;
}
