/**
  Navbar
**/

.navbar-default {
  background-color: $secondary-color;
  border-radius: 0;

  ul {
    display: flex;
    align-items: center;
  }

  .navbar-nav > li > a {
    @include single-transition;

    color: $ubimo-green-color;

    &:hover {
      color: $white-color;
      background-color: $ubimo-green-color;
    }

    &:focus {
      color: $white-color;
    }
  }

  .icon-logo {
    position: relative;
    background-image: url(../images/sprites.png);
    background-position: -67px -449px;
    width: 113px;
    height: 36px;
    bottom: 8px;
  }
}

